@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    margin: 0;
    height: 100%;
}

header {
    background-color: #CE8523;
    margin: 0;
    height: 50px;
    
}

#search {
    background-color: #f5c68a;
}

#manage-account {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #354739;
    color: white;
    padding: .5em;
    margin: 4px;
    width: 180px;
    height: 25px;
    border: none;
    font-size: 11pt;
    cursor: pointer;
}

#log-out {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EBE5DB;
    color: black;
    padding: .5em;
    margin: 4px;
    width: 100px;
    height: 25px;
    border: none;
    font-size: 11pt;
    cursor: pointer;
}

h2 {
    padding: .25em;
    margin-top: 0;
    margin-bottom: 0;
    width: 20%;
    color:  #EBE5DB;
    font-family: 'Comfortaa', cursive;
    font-size: 15pt;
}

#user {
    font-family: 'Comfortaa', cursive;
}
#account-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 15px;
    
}

#search-bar {
    margin: 10px;
    height: 25px;
}

#add-recipe {
    display: inline;
    margin-right: 10px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

#add{
    text-decoration: none;
    color: black;
}


#recipe-icons > button {
    color: black;
    text-decoration: none;
    background-color: #e9dbc4;
    margin: 5px;
    padding: 1em;
    width: 150px;
    height: 150px;
    font-family: 'Arial', 'Sanserif';
    font-weight: bold;
    font-size: 13pt;
    border: none;
    cursor: pointer;
}

#recipe-card, #edit-recipe {
    visibility: hidden;
    background-color: white;
    padding: .25em;
    width: 800px;
    margin: 50px auto;
    height: 100%;
    border: solid;
    background-color: #f1eee8;
}

#RecipeName {
    color: black;
}

#edit, #print, #Close, #share {
    background-color: rgb(74, 137, 158);
    color: white;
    border: none;
    height: 35px;
}

#delete {
    background-color: red;
    color: white;
    border: none;
    height: 35px;
}

#save {
    background-color: green;
    color: white;
    border: none;
    height: 35px;
}

#share-form {
    visibility: hidden;
    border: solid rgb(136, 179, 194);
    padding: 1em;
    margin-top: 20px;
    font-family: 'Arial', 'Sanserif';
    background-color: lightblue;
}

#recieverEmail {
    height: 20px;
    width: 275px;
}

#shareEmail, #close {
    height: 30px;
    width: 70px;
    background-color: #EBE5DB;
    border: solid black 1pt;
}

#shareTitle {
    color: black;
    width: 300px;
    margin-bottom: 20px;
}

#update {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #354739;
    color: white;
    padding: .5em;
    margin: 4px;
    width: 100px;
    height: 25px;
    border: none;
    font-size: 11pt;
    cursor: pointer;

}

#exit {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EBE5DB;
    color: black;
    padding: .5em;
    margin: 4px;
    width: 100px;
    height: 25px;
    border: none;
    font-size: 11pt;
    cursor: pointer;
}

#addIng, #addDir {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EBE5DB;
    color: black;
    padding: .5em;
    margin: 4px;
    width: 45px;
    height: 25px;
    border: none;
    font-size: 11pt;
    cursor: pointer;
}

#removeIng, #removeDir {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9dcc6;
    color: black;
    padding: .5em;
    margin: 4px;
    width: 70px;
    height: 25px;
    border: none;
    font-size: 11pt;
    cursor: pointer;
}

#search-button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #354739;
    color: white;
    padding: .5em;
    margin: 15px, auto, auto, 5px;
    width: 100px;
    height: 25px;
    border: none;
    font-size: 11pt;
    cursor: pointer;
}

#Reference {
    width: 500px;
}
@media print {
    header, #search-bar, #add-recipe, #recipe-icons, #bottom-of-card {
        display: none;
    }

    #recipe-card {
        border: none;
    }
}