body {
    background-color: #CE8523;
}

#create-account-card {
    background-color: white;
    text-align:center;
    padding: .25em;
    width: 600px;
    margin: 100px auto;
    height: 400px;
}

#update-pw {
    text-align: left;
    margin: 0 20px 10px 20px;
}

h2 {
    color:  #2a2f63;
    font-family: 'Comfortaa', cursive;
    
}

#first, #last {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
    width: 150px;
    height: 20px;
}

#email, #pass, #confpass {
    margin-bottom: 10px;
    width: 550px;
    height: 20px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

.update-button {
    background-color: #354739;
    color: white;
    padding: .5em;
    width: 150px;
    border-radius: 5px;
    border-style: solid black 1px;
    margin-bottom: 10px;
}





